.sec-1-bg {
    background-image: url(./assests/bg_banner_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.container {
    max-width: 1600px !important;
}

.sec-1-bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(55 27 6 / 62%);
    height: 80vh;

}

.sec-1-bg .container {
    position: relative;
    z-index: 99;
}

.btn-cus-orange-rounded {
    background-color: #ba7033;
    border-radius: 18px;
    padding: 5px 12px;
    border: 0;
    color: white;
}

.date-tans-cus-btn {
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    padding: 5px 12px;
    border-radius: 18px;
    border: 0;

}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

}

.pagination-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #ba7033;
    color: #fff;
}

.placeholder-cus-sty::placeholder {
    color: #ba7033;
    text-align: end;
    padding-right: 10px;
}

.placeholder-cus-sty {
    border: 1px solid #ba7033;
}

.footer-link-icons {
    border: 1px solid #ffffffaf;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-content: center;

}

.footer-end-text {
    margin-top: 95px;
}

footer {
    background-color: rgba(55, 27, 6, 255);
}